* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Muli", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.wrapper {
    margin-left: 2%;
    margin-right: 2%;
}

.container {
    margin-left: 2%;
    margin-right: 2%;
}

a {
    color: #B3B3B3;
    text-decoration: none;
}

h1 a {
    color: #F94E31;
    display: block;
    float: left;
    font-size: 18px;
    padding: 2%;
    text-align: left;
}

.normal {
    display: block;
}

.normal a {
    float: right;
    font-size: 14px;
    padding: 2%;
}

.normal a:hover {
    color: #F94E31;
}

#mobile {
    color: #B3B3B3;
    display: none;
    font-size: 18px;
    margin-right: .15em;
    padding: 2%;
    text-align: right;
}

#mobile a:hover {
    color: #F94E31;
}

.small {
    display: none;
}

.small a {
    color: #B3B3B3;
    display: block;
    font-size: 14px;
    padding: 2%;
    text-align: right;
    text-decoration: none;
}

.small a:hover {
    color: #F94E31;
}


#clearfix: after {
  clear: both;
  content: "";
  display: block
}

#portfolio {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.thumb {
    display: block;
    margin: 0 auto;
    padding: 40px;
    width: 80%;
}

.main {
    width: 100%;
}

#current {
    display: block;
}

.slide {
    display: none;
}

.slide.current {
    display: block;
}

.carousel a {
    background-color: #B3B3B3;
    border-radius:15px;
    display: inline-block;
    height: 3px;
    margin: 6px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    width: 3px;
}

.carousel .current {
    background-color: #F94E31;
}

#about {
    box-sizing: border-box;
    display: inline-block;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
}

#about img {
    display: block;
    float: left;
    padding-right: 3px;
    width: 25%;
}

#about a {
    color: #F94E31;
}

#about a:hover {
    color: #B3B3B3;
}

footer {
  padding: 2em;
  text-align: center;
}

p {
    color: #B3B3B3;
    font-size: 1em;
    line-height: 1.5;
    margin: .15em;
    padding: 5px;
}

.social img {
    opacity: .7;
    padding: 8px;
    width: 2em;
}

#copyright {
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    #mobile {
        color: #B3B3B3;
        display: block;
    }
    #mobile:hover {
        color: #F94E31;
    }
    .normal {
        display: none;
    }
    .small {
        display: block;
    }
    .small a {
        display: none;
    }
    .small.open a {
        display: block;
    }
